:root {
    --acent-color: #3b6064;
    --ligth-acent-color: #e0e0e0;
    --dark-acent-color: #160f29;
    --bg-color-primary: #f5f5f5;
    --bg-color-secondary: #dadada;
    --input-light-highlight: #F0DBDB;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

:root {
    --el-color-primary: #3b6064 !important;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: var(--bg-color-one);
    background-image: linear-gradient(to bottom, var(--bg-color-secondary) 0%, var(--bg-color-primary) 51%);
    font-family: 'Roboto', sans-serif, system-ui, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.box-shadow {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.global-menu {
    font-family: 'Material Icons' !important;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2rem;
    color: var(--ligth-acent-color);
    z-index: 1000;
    cursor: pointer;
}

.global-menu:hover {
    color: var(--dark-acent-color);
}

.global-menu::before {
    content: "\e5d2";
}

.form-label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #606266;
    margin: 0.9rem 0 0.15rem 0.2rem;
}

.slide-enter-active {
    animation: slide-in .3s;
}

.slide-leave-active {
    animation: slide-in reverse .3s;
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}